:root {
    --headerColor: #000000;
}

* {
    box-sizing: border-box;
}

#wrap-navbar {
    width: 100%;
}

.header-color {
    background-color: var(--headerColor) !important;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-item {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    color: rgb(233, 233, 233) !important;
}

.nav-item:hover {
    color: white !important;
}

.nav-item.active {
    border-bottom: 2px solid #fb7901;
    color: white !important;
}


.wrap.logo {
    margin: 10px;
}

.logo {
    border-radius: 5px;
    margin: 0;

}

.navbar-brand .logo {
    height: 60px;
    margin-right: 10px;
    top: 50%;
    transform: translateY(-10%);
}

.navbar-brand {
    position: relative;
    line-height: 80px;
    height: 80px;
    padding: 0;
    font-size: 36px;
    margin: 0;
}

.div-compensate {
    width: 100px;
}


/* CONTENT  */
.content {
    padding-top: 50px;
}

.service {
    border: 1px #f97b05 solid;
    border-top: 2px #a12a02 solid;
    width: 30%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f6f6f4;
}


.person {
    width: 250px;
}

.btn-call-now {
    background: #E9C155 !important;
    display: flex;
    height: 50px;
    align-items: center;
    position: fixed;
    line-height: 17px;
    left: 15px;
    background: #0f7cb6;
    text-decoration: none;
    z-index: 999999999;
    color: #333;
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
    padding: 5px 19px 5px 5px;
}

.btn-call-now em {
    position: relative;
    color: #fff;
    font-size: 22px;
    background: #3f3c3c;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    margin-right: 5px;
    animation-duration: 1s;
    animation-name: calllink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn-call-01 {
    bottom: 50px;
}

.footer {
    margin-top: 20px;
    background-color: #000000;
}

.row-image {
    width: 100%;
}

.img-sanpham {
    max-width: 20%;
    width: 20%;
    margin: 0 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .img-sanpham:hover{
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.263), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.scale {
    transition: all .2s ease-in-out;
}

.scale:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.img-sanpham {
    transition: all .2s ease-in-out;
}

.img-sanpham:hover {
    transform: scale(1.1);
}


.btn-call-now {
    transition: all .2s ease-in-out;
}

.btn-call-now:hover {
    transform: scale(1.1);
}

.btn-call-now:hover {
    cursor: pointer;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.btn-call-now .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 70px;
    left: 25px;
}

.btn-call-now:hover .tooltiptext {
    visibility: visible;
}




@media only screen and (max-width: 992px) {
    .introduce{
        margin: 0 5px !important;
    }
    .introduce .content-responsive{
        margin: 5px !important;
        font-size: 20px;
        line-height: 30px !important;
    }

    .introduce div{
        font-size: 15px !important;
    }

    .service{
        margin: 0 5px !important;
    }

    .service img{
        width: 30px !important;
        height: 30px !important;
    }

    .service h5{
        font-size: 15px !important;
        line-height: 15px !important;
    }

    .resource-human h3 {
        margin: 5px !important;
        font-size: 20px;
    }

    .resource-human .resource-human-content{
        margin: 5px !important;
        font-size: 15px !important;
    }
}



@media only screen and (max-width: 1250px) {
    .nav-item {
        font-size: 14px;
    }

    .div-compensate {
        display: none;
    }
}